/*Color palette*/
:root {
    --primary-background: #D6F8B8;
    --secondary-background: #ACDEAA;
    --text-color: #000000;
    --input-background: #ffffff;
}


/*Here we customize how the buttons in the header look like */
.headerbutton {
    cursor: pointer;
    border: none;
    outline: inherit;
    background: transparent;
    color: inherit;
}


/*Here we add a hover over the buttons in the header */
.headerbutton:hover {
    opacity: 0.7;
}

