/*Color palette*/
:root {
    --primary-background: #D6F8B8;
    --secondary-background: #ACDEAA;
    --input-background: #ffffff;
}
/*Here is the font applied to the webpage */
body {
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
    background-color: var(--primary-background);
    margin:0%;

}



section {
    padding: 0px 25% 0px 25%;
    flex-wrap: wrap;
}

/*HEADER*/


/*Here we have the background in the header */
header {
    background-image: url("../images/headerimg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;

}


/*Here we customize the style of the buttons in the navigation bar and their location */

#buttons {
    text-align: center;
}

.headerbutton {
    background: transparent;
    border: none;
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
    font-weight: 800;
    margin-left: 50px;
    margin-top: 35px;
}

.headerbutton > a {
    color: black;
}

/*Here we add a hover effect on the buttons in the navigation bar */

.headerbutton > a:hover {
    color: #3d7566;
}

a {
    text-decoration: none;
}

/*Customization of the headline */
.introduction {
    font-weight: 150;
    padding-top: 100px;

}

/*Here is a customization of the headline */
h1 {
    font-size: 150px;
    padding-left: 50px;
    margin-bottom: -150px;
}

/*This is the customization of the location and date */
.landd {
    color: white;
    font-size: 40px;
    padding-left: 50px;
    padding-bottom: 200px;
    margin-top: 200px;

}


/*ABOUT*/


.flex-container {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    background-color: var(--secondary-background);
    padding-top: 100px;
    padding-bottom: 60px;
}


#about-image {
    width: 100%;
    max-width: 505px;
    height: auto;
    margin-bottom: 50px;
}  

/*margin-right: 400px;*/

#header1 {
    
    margin-top: -5px;
}
/*margin-left: 400px;*/

.about-text {
    width: 100%;
    max-width: 500px;
}
/*margin-left: 400px;*/



/*SPEAKERS*/

.flex-container-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
    background-color: var(--primary-background);
    padding-top: 40px;
    padding-bottom: 90px;
}

.speaker-description {
    width: 100%;
    max-width: 270px;
}

.speakers-heading {
    text-align: center;
    margin-top: 90px;
}


/*PRACTICAL INFORMATION*/

.flex-container-3 {
    display: flex;
    background-color: var(--secondary-background);
    justify-content: center;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 80px;
}
#schedule{
    text-align: justify;
}
ul{
    list-style: none;
    line-height: 40px;
}
#schedule-heading{
    padding-left: 40px;
}
/*margin-left: 40px;*/



/*SIGN UP SECTION*/

.flex-container-4 {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding-top: 70px;
    
}
.signup-text {
    width: 100%;
    max-width: 400px;
    

    


}
.flex-section {
    display:flex;
    flex-flow: column;
}

input {
    height: 30px;
    width: 350px;
    border: none;
}

.inputbox {
    margin-bottom: 20px;
    border: none;
    font-family:'Roboto Mono', monospace;
    font-size: 20px;
    
}

.submit-button {
    background-color: var(--secondary-background);
    width: 150px;
    height: 30px;
}




/*FOOTER*/

footer {
   text-align: center;
   background-color: var(--primary-background);
}

#footer-heading {
    font-weight: 700;
    margin-top: 100px;
    font-size: 25px;
}

#social-media {
    margin-top: 25px;
    margin-bottom: 50px;
    
    

}
#contact-info {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;

}

#contact-info a {
    color: #000000;
}



