/*Color palette*/
:root {
    --primary-background: #D6F8B8;
    --secondary-background: #ACDEAA;
    --text-color: #000000;
    --input-background: #ffffff;
}
/*Here is the font applied to the webpage */
body {
    font-family: 'Roboto Mono', monospace;

}


/*Here we customize how the buttons in the header 
look like and their location */
.headerbutton {
    font-family: 'Roboto Mono', monospace;
    font-weight: 800;
    cursor: pointer;
    border: none;
    outline: inherit;
    background: transparent;
    color: inherit;
    margin-left: 50px;
    padding-top: 20px;
    
}


/*Here we add a hover over the buttons in the header */
.headerbutton:hover {
    opacity: 0.7;
}

/*Here we have the background in the header */
header {
    
    
    background-color: #D6F8B8;
}
/*Location of the buttons on top of the page */
.buttons {
 text-align: center;
}
    

/*Customization of the headline */
.introduction {
    background-color: #D6F8B8;
    font-weight: 150;
    padding-top: 100px;

}
/*Here is a customization of the heading 1 */
h1 {
    font-size: 100px;
    padding-left: 50px;
}
/*This is the customization of the location and date */
.landd {
    color: white;
    font-size: 40px;
    padding-left: 50px;
    padding-bottom: 200px;
}

.about {
    background-color: #ACDEAA;
}
